:root {
    // text 
    --base-text: 'Roboto', sans-serif;

    // colors
    --primary-white: #ffffff;
    --primary-black: #000000;
    --accent-color: #FF6B08;
    --warning-color: #FF001B;
    --second-background-color:#F7F7F7;
    --second-text-color:#545454;
    --headlines-text-color:#8C8C8C;
}