<header class="header">
  <div class="container header--background-base header--background-home">
    <div class="header__container">
      <div class="menu">
        <div class="menu__logo">
          <a href="#!" class="menu__link">
            <div class="menu__logo-container">
              <svg class="menu__icon">
                <use href="./images/svg/icons.svg#film"></use>
              </svg>
              <span class="menu__text">Filmoteka</span>
            </div>
          </a>
        </div>
        <nav>
          <div class="tabs">
            <ul class="controls" data-controls>
              <li class="controls__item">
                <a href="#!" class="controls__link">home</a>
              </li>
              <li class="controls__item">
                <a href="#!" class="controls__link">my library</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>

      <!-- home start -->
      <div class="search">
        <div class="search__container">
          <form class="form" id="search-form-films">
            <input
              class="form__input"
              type="text"
              name="searchQuery"
              autocomplete="off"
              placeholder="Пошук фільмів"
            />
            <button class="form__btn" type="button">
              <svg class="form__icon">
                <use href="./images/svg/icons.svg#search"></use>
              </svg>
            </button>
          </form>
        </div>
      </div>
      <!-- home end -->

      <!-- my-library start -->
      <!-- <div class="my-library-filter">
        <div class="my-library-filter__item">
          <button class="my-library-filter__btn btn" type="button"><span>Watched</span></button>
        </div>
        <div class="my-library-filter__item">
          <button class="my-library-filter__btn btn" type="button"><span>queue</span></button>
        </div>
      </div> -->
      <!-- my-library end -->
    </div>
  </div>
</header>
