<header class="header">
  <div class="container header--background-base header--background-home">
    <div class="header__container">
      <div class="menu">
        <div class="menu__logo">
          <a href="#!" class="menu__link">
            <div class="menu__logo-container">
              <svg class="menu__icon">
                <use href="./images/svg/icons.svg#film"></use>
              </svg>
              <span class="menu__text">Filmoteka</span>
            </div>
          </a>
        </div>
        <nav>
          <div class="tabs">
            <div class="controls" data-controls>
              <a href="#!" class="controls__item">home</a>
              <a href="#!" class="controls__item">my library</a>
            </div>
          </div>
        </nav>
      </div>
      <div class="search">
        <div class="search__container">
          <form class="form" id="search-form-films">
            <input
              class="form__input"
              type="text"
              name="searchQuery"
              autocomplete="off"
              placeholder="Пошук фільмів"
            />
            <button class="form__btn" type="button">
              <svg class="form__icon">
                <use href="./images/svg/icons.svg#search"></use>
              </svg>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</header>
