<header class="header header--background-base" data-header>
  <div class="container">
    <div class="menu">
      <div class="menu__logo">
        <a href="./index.html" class="menu__link">
          <div class="menu__logo-container">
            <svg class="menu__icon">
              <use href="./images/svg/icons.svg#film"></use>
            </svg>
            <span class="menu__text">Filmoteka</span>
          </div>
        </a>
      </div>
      <nav>
        <div class="tabs">
          <ul class="controls" data-header-controls>
            <li class="controls__item">
              <a href="#header-pane__home" class="controls__link">home</a>
            </li>
            <li class="controls__item">
              <a href="#header-pane__my-library" class="controls__link">my library</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>

    <div class="header-panes" data-header-panes>
      <!-- home start -->
      <div class="header-pane__search header-pane" id="header-pane__home">
        <form class="form" id="search-form-films">
          <input
            class="form__input"
            type="text"
            name="searchQuery"
            autocomplete="off"
            placeholder="Пошук фільмів"
          />
          <button class="form__btn" type="button">
            <svg class="form__icon">
              <use href="./images/svg/icons.svg#search"></use>
            </svg>
          </button>
        </form>
      </div>
      <!-- home end -->

      <!-- my-library start -->
      <div class="header-pane__my-library-filter header-pane" id="header-pane__my-library">
        <div class="my-library-filter">
          <button class="my-library-filter__btn btn btn--active" type="button">
            <span>Watched</span></button
          ><button class="my-library-filter__btn btn" type="button"><span>queue</span></button>
        </div>
      </div>
      <!-- my-library end -->
    </div>
  </div>
</header>
