<main>
  <section class="section">
    <div class="container">
      <h1 class="visually-hidden">movies</h1>
      <div class="films-gallery" data-gallery>
        <!-- <div class="films-gallery__item">
          <a href="#!" class="films-gallery__link gallery-card">
            <div class="gallery-card__image">
              <img src="#" alt="test" />
            </div>
            <div class="gallery-card__container">
              <p class="gallery-card__title">ONCE UPON A TIME... IN HOLLYWOOD</p>
              <p class="gallery-card__text">
                Drama, Comedy | 2019
                <span class="gallery-card__rating">8.0</span>
              </p>
            </div>
          </a>
        </div> -->
      </div>
    </div>
  </section>
</main>
