.btn{
    margin: 0;
    border-radius: 5px;
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;
    font-family: inherit;

    transition: background-color 250ms linear,
    box-shadow 250ms linear;
    
    &:hover,
    &:focus {
        background-color: var(--accent-color);
        box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
    }
}