.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 50px;

    @media screen and (min-width: 768px) {
        margin-bottom: 34px;
    }
}

.menu__logo-container {
    display: flex;
    align-items: center;
}

.menu__icon {
    width: 24px;
    height: 24px;
}

.menu__text {
    margin-left: 10px;
    font-size: 30px;
    line-height: 1.2;

    color: var(--primary-white);

    @media screen and (max-width: 767px) {
        display: none;
    }
}

.controls{
    display: flex;
    align-items: center;
}

.controls__item+.controls__item {
    margin-left: 40px;
}

.controls__link {
    line-height: 1.17;
    text-transform: uppercase;
    color: var(--primary-white);
    
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
            color: var(--accent-color);
        }
}
