.my-library-filter {
    text-align: center;
}

.my-library-filter__btn+.my-library-filter__btn{
margin-left: 20px;

    @media screen and (min-width: 768px) {
        margin-left: 32px;
    }

    @media screen and (min-width: 1024px) {
        margin-left: 16px;
    }
}

.my-library-filter__btn {
    width: 130px;
    padding: 14px 30px;

    color: var(--primary-white);
    border: 1px solid var(--primary-white);

    @media screen and (min-width: 768px) {
            width: 152px;
        }

    @media screen and (min-width: 1024px) {
            width: 147px;
            padding: 13px 30px;
        }
    
    transition: border-color 250ms linear;

    &:hover,
    &:focus {
        border-color: var(--accent-color);
    }
}